Documentation/Help/Working/obj/Debug/Interop.VixCOM.dll
bin/
obj/
Database.mdf
Database.ldf
*.ldf
Documentation/Help/
UpgradeLog*.htm
*.mp4
*.user
FlingOS.v12.suo
Kernel/Drivers/Compiler/Tools/syslinux-6.03/
*.suo
packages/

\.vs/
